In [17]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\hp\appdata\roaming\python\python312\site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
import mysql.connector as connector

In [19]:
connection = connector.connect(user = "alwin", password = "231200" ,db=" littlelemondm")

In [20]:
cursor = connection.cursor()

In [21]:
cursor.execute("USE littlelemondm")

In [22]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
results = cursor.fetchall()

In [23]:
for row in results:
    print(row)

('bookings',)
('customers',)
('menu',)
('menuitems',)
('order delivery status',)
('orders',)
('ordersview',)
('staff info',)

In [24]:
query = """
SELECT customers.FullName, customers.ContactNumber, orders.TotalCost
FROM orders
JOIN customers ON orders.CustomerID = customers.CustomerID
WHERE orders.TotalCost > 60;
"""

In [25]:
cursor.execute(query)
results = cursor.fetchall()

In [26]:
# Printing results
print(cursor.column_names)
for row in results:
    print(row)

('FullName', 'ContactNumber', 'TotalCost')
('Elizabeth Antony', 1234567893, Decimal('233.00'))
('Philomena Francis', 1234567895, Decimal('245.00'))
('Francis', 1234567896, Decimal('560.00'))

In [27]:
cursor.close()
connection.close()